$start-color: #f00;
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url('../fonts/Oswald-Bold.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url('../fonts/Oswald-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  margin: 0;
  padding: 0;
}

#app {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  font-family: 'Oswald';
  font-size: 15vh;
  color: #fff;
  text-transform: uppercase;

  #counter {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $start-color;

    transition: background 2s;
  }

  #introduction {
    pointer-events: none;
    &.show {
      opacity: 1;
    }

    position: absolute;
    width: 100vw;
    bottom: 15vh;
    color: #fff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    opacity: 0;

    padding: 0 2vw;

    box-sizing: border-box;
    transition: opacity 450ms;
  }

}

value-selector {
  display: block;
  position: relative;

  width: 360px;

  padding: 0;
  margin: 0;


  background: red;

  header {
    background: darkred;
    padding: 5px;
  }

  content {
    display: block;
    position: relative;
    span {
      display: block;
      padding: 40px 0;
      text-align: center;
      font-size: 96px;
    }
    label {
      position: absolute;
      display: block;
      right: 70px;
      font-size: 32px;
      bottom: 55px;
    }
  }
  nav {
    position: absolute;
    display: block;
    left: 0; right: 0;
    top: 0; bottom: 0;
    button {
      position: absolute;
      display: block;
      top: 0; bottom: 0;
      width: 40px;

      border: 0; outline: 0;
      background: rgba(255,255,255,.5);
      &:nth-child(0) {
        left: 0;
      }

      &:nth-child(1) {
        right: 0;
      }
    }


  }
}